.savings-controls {
  display: flex;
  gap: .7em;
  margin: 1em 0 1.25em 0;
  align-items: center;
  justify-content: center;
}

.savings-controls__input {
  font-size: 1.12em;
  padding: .45em 1.1em;
  border-radius: 2em;
  border: 1px solid var(--border-light);
  width: 7em;
  text-align: center;
  margin-right: .5em;
  outline: none;
}
